// Variables

$blue-white: #F5F7FC;
$gray-blue: #7794BF;
$dark-blue: #373C57;

$light-border: .1rem solid lighten($gray-blue, 30%);

$gold-gradient: linear-gradient(to right, #F5A84E 0%,#F5C311 100%);

// Layout

$reading-width: 70rem;

body {
  background-color: $blue-white;
  color: $dark-blue;
  font-family: 'Noto Sans', sans-serif;
}

section#recommender {
  width: 100%;
  max-width: $reading-width;
  margin: auto;
  padding: 0 2%;
  text-align: center;
}

// Type

h1, h2, h3 {
  color: $gray-blue;
  font-family: 'Supermercado One', cursive;
  text-shadow: .05em .05em $dark-blue;
}

h1 {
  margin-top: 15vh;
  margin-bottom: 0;
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

label, p, li {
  display: block; 
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: .05em;
}

.subhead {
  margin: .25em 0;
  color: lighten($gray-blue, 30%);
  text-shadow: .05em .05em $gray-blue;
}

// Form Elements

button {
  border: none;
  margin: auto;
  cursor: pointer;
  display: block;
  padding: .5rem 1rem;
  font-family: 'Noto Sans', sans-serif;;
  font-size: 1.2em;
  color: $dark-blue;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border: $light-border;
  background-color: white;
  letter-spacing: .05em;
  &:hover {
    background-color: darken($blue-white, 5%);
    transition: all 250ms ease;
  }
  &:focus {
    border-color: $gray-blue;
  }
}

label {
  cursor: pointer;
}

.input-area {
  display: inline-block;
  margin: auto;
  text-align: left;
  min-height: 15em;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] + label:before {
  content: '';
  background-color: white;
  border-radius: 100%;
  border: $light-border;
  display: inline-block;
  width: .9em;
  height: .9em;
  position: relative;
  top: .15rem;
  margin-right: .5em;
  text-align: center;
  transition: all 250ms ease;
}

input[type="radio"]:checked + label:before {
  background-color: $gray-blue;
  box-shadow: inset 0 0 0 .2rem white;
}

input[type="radio"]:focus + label:before {
  border-color: $gray-blue;
}

.backward {
  margin: inherit;
  font-size: .9em;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

.forward {
  padding: 1rem 2rem;
  min-width: 10rem;
  border-radius: 0;
  border: none;
  border-top: .3rem solid #F5A84E;
  border-bottom: .3rem solid #F5C311;
  border-image: linear-gradient(to right, #F5A84E 0%, #F5C311 100%);
  border-image-slice: 1;
  position: relative;
  box-sizing: border-box;
  box-shadow: .2rem .2rem .1rem 0px $gray-blue;
  &:before,
  &:after {
    background-color: white;
    box-shadow: .25rem .25rem .1rem 0px $gray-blue;
    background-image: linear-gradient(to right, #FAF4E3 0%, #FFF 20%);
    box-sizing: border-box;
    content: '';
    display: block;
    width: 2em;
    height: calc(100% + .6rem);
    border-radius: 1rem 0 0 1rem;
    border: .25rem solid #F5A84E;
    position: absolute;
    border-right: none;
    left: -1.95em;
    top: -.3rem;
    transition: all 250ms ease;
    z-index: -1;
  }
  &:after {
    background-image: linear-gradient(to right, #FFF 50%, #FAF4E3 100%);
    border-radius: 0 2rem 2rem 0;
    border: .25rem solid #F5C311;
    position: absolute;
    border-left: none;
    left: auto;
    right: -1.95em;
    top: -.3rem;
    z-index: 100;
  }
  &:hover {
    background-image: none;
    background-color: darken($blue-white, 5%);
    transition: all 250ms ease;
    &:after,
    &:before {
      background-image: none;
      background-color: darken($blue-white, 5%);
    }
  }
}

// Results

ul {
  display: inline-block;
  list-style-image: none;
  padding: 0;
}