//Variables

$blue-white: #F5F7FC;
$gray-blue: #7794BF;
$dark-blue: #373C57;

body {
  background-color: $blue-white;
  color: $dark-blue;
  font-family: 'Arimo', sans-serif;
}

h1, h2 {
  margin: 0;
  color: $gray-blue;
  font-family: 'Supermercado One', cursive;
  text-shadow: .05em .05em $dark-blue;
}

h1 {
  font-size: 4em;
  line-height: 2em;
}

h2 {
  font-size: 3em;
  line-height: 1.5em;
}

label, p {
  display: block;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: .05em;
}

button {
  display: block;
  padding: .5rem 1rem;
  font-family: 'Arimo', sans-serif;;
  font-size: 1.2em;
  color: $dark-blue;
  border-radius: .2rem;
  border: .1rem solid white;
  background-color: white;
  letter-spacing: .05em;
}