//Variables

$blue-white: #f2f5ff;
$gray-blue: #626E80;
$dark-blue: #2D1573;

body {
  background-color: $blue-white;
  color: $gray-blue;
  font-family: 'Strait', sans-serif;
}

h1 {
  font-family: 'Supermercado One', cursive;
  font-size: 4em;
  line-height: 2em;
  text-shadow: .05em .05em $dark-blue;
}

label, p {
  display: block;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: .05em;
}

button {
  display: block;
  padding: .5rem 1rem;
  font-family: 'Strait', sans-serif;
  font-size: 1.2em;
  color: $gray-blue;
  border-radius: .2rem;
  border: .1rem solid white;
  background-color: white;
  letter-spacing: .05em;
}